.shell-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-title {
  margin-left: 8px;
}

.content {
  padding: 20px;
}

/* Mobile styles */
@media (max-width: 767px) {
  .toolbar {
    padding: 0 4px;
  }

  .toolbar-title {
    font-size: 18px;
    margin-left: 4px;
  }

  .content {
    padding: 16px;
  }
}